*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  background: #080808;
  color: #fff;
}

.btn-back{
  display: inline-block;
  margin: 50px auto;
  margin-left: 20px;
  margin-top: 0px;
  width: fit-content;
  border: 1px solid #379ece;
  padding: 14px 50px;
  border-radius: 30px;
  text-decoration: none;
  color: #fff;
  transition: background 0.5s;
}

.btn-back:hover{
  background: #379ece;
}

.sub-title{
  text-align: center;
  
}

#portfolio{
  padding: 50px 0;
}

.work-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-template-columns: repeat(auto-fit, minmax(250px,1fr)); */
  grid-gap: 40px;
  margin-top: 50px;
  margin-left:20%;
}

.work{
  display: grid;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.work img{
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: tranform 0.5s;
}

.layer{
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0,0,0,0.6),#379ece);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 0px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}

.layer h3{
  font-weight: 500;
  margin-bottom: 20px;
}

.layer a{
  margin-top: 20px;
  color: #379ece;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.work:hover img{
  transform: scale(1.1);
}

.work:hover .layer{
  height: 100%;
}

/* service comming soon  */
.fa-sharp{
margin-top: 10px;
margin-left: 40%;
}

.services-list{
  display: grid;
}

.services-list div{
  background: #6d6d6d;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s ;
}

.services-list div h2{
  font-size: 25px;
  font-weight: 500;
  margin-left: 10px;
}

.services-list div a{
  text-decoration: none;
  color: #fff ;
  font-size: 12px;
  margin-left: 10px;
  margin-top: 20px;
  display: inline-block;
}

.services-list div:hover{
  background: #379ece;
  transform: translate(10px);
}